@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Tampa<br />
    Tampa, Fl 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    512.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@Mexico.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@China.com</a>
</address>