@{
                /**/

                ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>四 Amigos</h1>
    <p class="lead">Welcome to 四 Amigos, please sign in and browse our deliciously unique recipes.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    <p>@Html.ActionLink("Login", "Login", "Account", null, new { @class = "btn btn-primary btn-lg" })</p>
    <p>@Html.ActionLink("Logout", "Logout", "Account", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>
<p>@ViewBag.Message</p>
