<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>401 Error</title>
</head>
<body>
    <hgroup>
        <h1>Error: Unauthroized</h1>
        <h2>Im sorry but I do not know who you are, will you please log in before viewing this selection?</h2>
    </hgroup>
    <button onclick="goBack()">Go Back</button>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>
