<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>404 Error</title>
</head>
<body>
    <hgroup>
        <h1>Error: Page Not Found.</h1>
        <h2>The page you are looking for is still in the kitchen, how about instead selecting one of our gourmet meals!</h2>
    </hgroup>
    <button onclick="goBack()">Go Back</button>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>
